body {
  background-color: #32435D;
  color: white; 
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  background-color: #121212;
  z-index: 1000;
  transition: 0.3s;
}

#sidebar.open {
  width: 230px;
}

.navbar.fixed-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar .navbar-brand {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.navbar-nav ul {
  list-style-type: none;
  padding-left: 3px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-item i {
  font-size: 1.5em;
}

.nav-item:hover {
  color: #1DB954;
}

.nav-btn {
  margin-top: auto;
  text-align: center;
  padding-bottom: 30px;
}

.signup-btn, .login-btn {
  width: 180px;
  margin: 10px 0;
}

.signup-btn {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.signup-btn:hover {
  background-color: #1DB954;
  color: white;
}

.login-btn {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.login-btn:hover {
  background-color: white;
  color: black;
}

.navbar-toggler-icon {
  background-color: white;
}

.input-group {
  width: 100%;
}

.input-group-append {
  display: flex;
}

.input-group-append button {
  width: 60px;
  background-color: #1DB954;
  color: white;
}




.song-list {
  margin-top: 20px;
}

.song-item {
  margin-bottom: 10px;
}


.section {
  margin-bottom: 20px;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
}

.song-item {
  margin: 10px;
  width: 150px;
  text-align: center;
}

.song-item img {
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.song-item p {
  font-size: 14px; 
  color: white; 
}

@media screen and (max-width: 936px) {
  #sidebar {
    display: none;
  }
}